[submodule "themes/novela"]
    path = themes/novela
    url = https://github.com/forestryio/hugo-theme-novela.git
[submodule "public"]
	path = public
	url = https://github.com/muhfajar/muhfajar.github.io.git
