figure img{
  display: flex;
  margin: 0 auto 0;
  width: 100%;
  max-width: 750px;
  -webkit-box-shadow: 0 30px 60px -10px rgba(0, 0, 0, 0.2),
  0 18px 36px -18px rgba(0, 0, 0, 0.22);
  box-shadow: 0 30px 60px -10px rgba(0, 0, 0, 0.2),
  0 18px 36px -18px rgba(0, 0, 0, 0.22);

  /*DESKTOP MEDIUM*/
  @media screen and (max-width: $desktop_medium){
    position: relative;
  }

  /*TABLET*/
  @media screen and (max-width: $tablet){
    max-width: 100%;
  }

  /*PHABLET*/
  @media screen and (max-width: $phablet){
    margin: 0 auto;
    width: calc(100vw - 40px);
  }
}

figcaption p{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey);
  font-size: 9px;
  font-weight: normal;
  padding: 20px 0;

  /*PHABLET*/
  @media screen and (max-width: $phablet){
    padding: 15px 0 !important;
  }
}
