@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Basic&display=swap');

.logo-container{
    margin: 0;
}

.logo-text-name{
    font-family: 'Basic', serif;
    color: var(--primary);
    font-size: 2.7rem;

    @media screen and (max-width: $desktop){
        display: block;
    }

    @media screen and (max-width: $phablet){
        display: none;
    }
}

.logo-text-domain{
    font-family: 'Actor', serif;

    @media screen and (max-width: $desktop){
        font-size: 1.5rem;
    }

    @media screen and (max-width: $phablet){
        font-size: 2rem;
        font-weight: bold;
        color: var(--primary);
    }
}
