.social-icon-outer{
    display: flex;
    justify-content: center;
    max-width: 198px;
}

/*TABLET*/
@media screen and (max-width: $tablet){
    .authors-sio{
        width: 60%;
    }
}

.social-icon-container{
    display: -webkit-box;
    display: -ms-flexbox;
    text-decoration: none;
    display: flex;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    a{
        padding: 0 1rem 0 1rem;
    }

    @media screen and (min-width: $tablet) {
        a:nth-child(11){
            padding: 0 0 0 1rem;
        }
    }
}

.social-icon-container:hover > svg {
    fill: var (--primary);
  }

.social-icon-container:hover > * {
    -webkit-transition: fill 0.25s var(--ease-in-out-quad);
    -o-transition: fill 0.25s var(--ease-in-out-quad);
    transition: fill 0.25s var(--ease-in-out-quad);
}

.social-icon-container:first-of-type {
    margin-left: 0;
}

.social-icon-container:last-child {
    margin-right: 0;
}

/*TABLET*/
@media screen and (max-width: 735px){
    .social-icon-container{
        margin: 0 2.2rem;
    }
}

.social-icon-image{
    path{
        fill: var(--grey);
    }
}

.hidden{
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    display: inline-block;
}
